
<h1>Props</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @props.each do |prop| %>
      <tr>
        <td><%= prop.title %></td>
		<td>
			<table>
				<% prop.choices.each do |c| %>
				<tr>
					<td><%=c.title%></td>
					<td><%="#{c.points} points"%></td>
 					
				<% end %>
				</tr>
				
			</table>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prop', new_prop_path %>
